body {
    background-color: beige;
    text-align: left;
}
#media {
    text-align: center;
}
#main_title {
    text-align: center;
}
.bolden {
    text-align: center;
}
.mid_bolden {
    text-align: center;
}